<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/tardyRain/GitHub_Tardy/blob/master/apple.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://github.com/tardyRain/GitHub_Tardy/blob/master/680.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://github.com/tardyRain/GitHub_Tardy/blob/master/120.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.jd.jinrong2014</string>
				<key>bundle-version</key>
				<string>3.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>帮谱科技有限公司</string>
				<key>title</key>
				<string>吴欣宇</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
